# Entornos virtuales
venv/
env/
.venv/

# Base de datos local
*.db
*.sqlite3

# Secretos
.env
.env.local
*.env

# VS Code
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Sistema
.DS_Store
Thumbs.db
